<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: linen;
}

h1 {
  color: maroon;
  margin-left: 40px;
} 
</style>
</head>
<body>

<h1>BÙI THỊ HÀ VI</h1>
<p>2221050783</p>

</body>
</html>